# {{ project_name }}: recent activity (from {{ start_date }} to {{ end_date }})
{% for pr in pull_requests %}
## Pull request #{{ pr.number }} updated {{ pr.updated_at[:10] }}: {{ pr.title }} ({{ pr.status }})
{%- if pr.body %}

{{ pr.body | trim | indent(4) }}
{%- endif %}
{%- if pr.old_activities %}

### OLD ACTIVITIES for pull request #{{ pr.number }} BEFORE {{ start_date }}
{% for activity in pr.old_activities %}
{%- if activity.type == 'comment' %}

#### Pull request #{{ pr.number }} / comment from @{{ activity.author }} on {{ activity.date.strftime('%Y-%m-%d %H:%M:%S') }}

{{ activity.body | trim | indent(4) }}
{%- elif activity.type == 'commit' %}

#### Pull request #{{ pr.number }} / commit by @{{ activity.author }} on {{ activity.date.strftime('%Y-%m-%d %H:%M:%S') }}

{{ activity.message | trim | indent(4) }}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if pr.recent_activities %}

### RECENT ACTIVITIES for pull request #{{ pr.number }} BETWEEN {{ start_date }} and {{ end_date }}
{%- for activity in pr.recent_activities %}
{%- if activity.type == 'comment' %}

#### Pull request #{{ pr.number }} / comment from @{{ activity.author }} on {{ activity.date.strftime('%Y-%m-%d %H:%M:%S') }}

{{ activity.body | trim | indent(4) }}
{%- elif activity.type == 'commit' %}

#### Pull request #{{ pr.number }} / commit by @{{ activity.author }} on {{ activity.date.strftime('%Y-%m-%d %H:%M:%S') }}

{{ activity.message | trim | indent(4) }}
{%- elif activity.type == 'merge' %}

#### Pull request #{{ pr.number }} / merged on {{ activity.date.strftime('%Y-%m-%d %H:%M:%S') }}
{%- elif activity.type == 'close' %}

#### Pull request #{{ pr.number }} / closed on {{ activity.date.strftime('%Y-%m-%d %H:%M:%S') }}
{%- endif %}
{%- endfor %}
{%- endif %}
{% endfor %}
