# {{ project_name }}: recent activity (from {{ start_date }} to {{ end_date }})
{% for item in items %}
{% if item.type == 'pull_request' %}
## Pull request #{{ item.number }}: {{ item.title }} (status: {{ item.status }}, created: {{ item.created_at[:10] }}, updated {{ item.updated_at[:10] }})
{%- elif item.type == 'issue' %}
## Issue #{{ item.number }}: {{ item.title }} (status: {{ item.status }}, created: {{ item.created_at[:10] }}, updated {{ item.updated_at[:10] }})
{%- else %}
## Release: {{ item.name }} (tag: {{ item.tag_name }}, created: {{ item.created_at[:10] }})
{%- endif %}
{%- if item.body %}

{{ item.body | trim | indent(4, True) }}
{%- endif %}

{%- for activity in item.recent_activities %}
{%- if activity.type in ['comment', 'commit'] %}

#### {{ item.type | capitalize }} #{{ item.number }} / {{ activity.type }} from @{{ activity.author }} on {{ activity.date.strftime('%Y-%m-%d %H:%M:%S') }}

{{ activity.message | trim | indent(4, True) }}
{%- elif activity.type in ['merge', 'close'] %}

#### {{ item.type | capitalize }} #{{ item.number }} / {{ activity.type }} on {{ activity.date.strftime('%Y-%m-%d %H:%M:%S') }}
{%- endif %}{# activity.type #}
{%- endfor %}{# activity in item.recent_activities #}
{% endfor %}{# item in items #}
